* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: teal;
    font-family: sans-serif;
}

header {
    background-color: rgb(29, 51, 175);
    padding: 20px;
}

header>h1 {
    color: beige;
    text-align: center;
    font-family: sans-serif;

}


.easy-btn {
    position: fixed;
    left: 47%;
    bottom: 60%;
    border: 0;
    line-height: 2.5;
    align-items: center;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(11, 88, 35);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.easy-btn:hover {
    background-color: rgb(13, 151, 25);
    text-decoration: none;
}

.easy-btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);

}


.medium-btn {
    position: fixed;
    left: 665px;
    bottom: 50%;
    border: 0;
    line-height: 2.5;
    align-items: center;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(199, 153, 53);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(223, 212, 57, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.medium-btn:hover {
    background-color: rgba(255, 188, 4, 0.986);
    text-decoration: none;
}

.medium-btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);

}

.hard-btn {
    position: fixed;
    left: 47%;
    bottom: 40%;
    border: 0;
    line-height: 2.5;
    align-items: center;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(119, 1, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.hard-btn:hover {
    background-color: rgb(235, 31, 31);
    text-decoration: none;
}

.hard-btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);

}