<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="stylesheet" href="../Style/choose.css">
</head>

<body>
    <header>
        <h1>
            Choose your difficulty level
        </h1>
    </header>
    <br>
    <div class=container>
        <button class="easy-btn" id="easybtn" onclick="chooseDifficulty(this.id)" value="easy">EASY</button>
        <button class="medium-btn" id="mediumbtn" onclick="chooseDifficulty(this.id)" value="medium">MEDIUM</button>
        <button class="hard-btn" id="hardbtn" onclick="chooseDifficulty(this.id)" value="hard">HARD</button>
    </div>
    <script src="../Source/app.js"></script>

</body>

</html>