<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<p id="timer">00:00</p>
<div class="game-buttons">
    <button class="pause-btn" id="pausebtn" onclick="pauseGame()">PAUSE</button>
    <button class="restart-btn" id="restartbtn" onclick="restartGame()">RESTART</button>
    <button class="select-btn" id="selectbtn" onclick="chooseGame()">DIFFICULTY</button>
    <button class="quit-btn" id="quitbtn" onclick="quitGame()">QUIT</button>
</div>
<section class="memory-game">
    <div class="memory-card" data-framework="icon-1">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon1.png" alt="Icon1" id="icon-1" />
    </div>
    <div class="memory-card" data-framework="icon-1">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon1.png" alt="Icon1" id="icon-1" />
    </div>
    <div class="memory-card" data-framework="icon-2">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon2.png" alt="Icon2" id="icon-2" />
    </div>
    <div class="memory-card" data-framework="icon-2">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon2.png" alt="Icon2" id="icon-2" />
    </div>
    <div class="memory-card" data-framework="icon-3">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon3.png" alt="Icon3" id="icon-3" />
    </div>
    <div class="memory-card" data-framework="icon-3">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon3.png" alt="Icon3" id="icon-3" />
    </div>
    <div class="memory-card" data-framework="icon-4">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon4.png" alt="Icon4" id="icon-4" />
    </div>
    <div class="memory-card" data-framework="icon-4">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon4.png" alt="Icon4" id="icon-4" />
    </div>
    <div class="memory-card" data-framework="icon-5">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon5.png" alt="Icon5" id="icon-5" />
    </div>
    <div class="memory-card" data-framework="icon-5">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon5.png" alt="Icon5" id="icon-5" />
    </div>
    <div class="memory-card" data-framework="icon-6">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon6.png" alt="Icon6" id="icon-6" />
    </div>
    <div class="memory-card" data-framework="icon-6">
        <img class="back-face" src="../Images/backface.jpg" alt="backface" />
        <img class="front-face" src="../Images/Icon6.png" alt="Icon6" id="icon-6" />
    </div>

</section>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-txt" id="modaltxt"> Modal Text </div>
    </div>
</div>

<body>
    <script src="../Source/app.js"></script>

</body>

</html>